@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html{
    --background-color:#FFED99;
    --main-heading:'Odibee Sans', cursive;
    --main-font:'Press Start 2P', cursive;
    --text-main-bg:#3B14A7;
    --card-bg-color:#F6B8B8;
}
body{
    top: 0;
    left: 0;
    margin: 0;
    background-color: var(--background-color);
    font-family: var(--main-font);
}
header{
    text-align: center;
}
header h1{
    font-family: var(--main-heading);
    font-size: 2.6em;
}
#main{
    display: flex;
}
#user{
    width: 25%;
}
#game{
    width: 50%;
}
#compuer{
    width: 25%;
}
.text-main{
    color: var(--text-main-bg);
    text-align: center;
    margin-top: 5%;
}
.horizontal{
    width: 80%;
    height:10px;
    background-color:var(--card-bg-color) ;
}
.horizontal-1{
    margin-top: 150px;
    margin-left: 40px;
    border-radius: 4px;
}
.horizontal-2{
    margin-top: 150px;
    margin-left: 40px;
    border-radius: 4px;
}
.vertical{
    position: absolute;
    width: 10px;
    height: 400px;
    background-color: var(--card-bg-color);
}
.vertical-1{
    margin-top: -280px;
    margin-left: 200px;
}
.vertical-2{
    margin-top: -280px;
    margin-left: 400px;
}
.card{
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    width: 100px;
    height: 76px;
    cursor: pointer;
}
#card-1{
    top: 161px;
    left: 409px;
}
#card-2{
    top: 161px;
    left: 590px;
}
#card-3{
    top: 161px;
    left: 775px;
}

#card-4{
    top: 300px;
    left: 409px;
}
#card-5{
    top: 300px;
    left: 590px;
}
#card-6{
    top: 300px;
    left: 775px;
}

#card-7{
    top: 442px;
    left: 409px;
}
#card-8{
    top: 442px;
    left: 590px;
}
#card-9{
    top: 442px;
    left: 775px;
}
.star{
    font-size: 5em;
    text-align: center;
    vertical-align: middle;
}
.zero{
    text-align: center;
    vertical-align: middle;
    font-size: 5em;
}